%header.page-header.subhead
  %h1 New Question
  %p.lead Got a question? Ask our awesome community. Someone's gotta know.

= simple_form_for(@question) do |f|
  .row
    .col-md-7
      .form-group
        = f.input(:subject, label: 'Question', hint: "e.g. What you gon' do with all that junk?")
        = f.input(:group_id, as: :select, collection: Group.visible(current_user).map { |g| [g.name, g.id] }, input_html: { value: @group.try(:id) }, prompt: nil)
        = f.input(:body, label: 'Extended description (optional)', hint: 'Explain what the junk is', input_html: { rows: 5, class: 'wysiwyg' })
      .form-actions
        %button.btn.btn-primary{type: 'submit'} Create Question

    .col-md-3
      = render('groups/sidebar', base: @group ? @group.questions : Question, new_path: false)
