%header.page-header.subhead
  %h1 Hello there, so nice to see you again.
  %p.lead
    Login with your email and password below, or
    = auth_popup_link(:facebook) do
      %button.facebook{:type => 'submit'} Connect with Facebook

.row
  .col-md-8
    .form-box
      = simple_form_for(:user, :url => sessions_path) do |f|
        .control-group
          = f.input(:email)
          = f.input(:password)
        .form-actions
          %button.btn.btn-primary{:type => 'submit'} Login
          %span or
          %span= link_to('Sign up', signup_path)

  .col-md-4.rightsidebar
    = default_sidebar
