%header.page-header.subhead
  %h1 So you want to start a new group?
  %p.lead Okay, sure. We can do that.

.row
  .col-md-8
    = simple_form_for(@group) do |f|
      .control-group
        = f.input(:name, hint: "Example: Batman Fantasy Camp")
        = f.input(:url, as: :string, label: 'Subdomain', hint: "Example: If you enter 'batman' your URL will be batman.knowflo.info")
        = f.input(:privacy, as: :select, collection: Group::PRIVACY_OPTIONS)
        = f.input(:description, input_html: { rows: 5 })
      .form-actions
        %button.btn.btn-primary{type: 'submit'} Create my group
  .col-md-4.rightsidebar
    = default_sidebar
