%header.page-header.subhead
  %h1 New User? Sign up here.
  %p.lead
    Fill out this quickie l'il form or
    = auth_popup_link(:facebook) do
      %button.facebook{:type => 'submit'} Connect with Facebook

.row
  .col-md-7
    .form-box
      = simple_form_for(@user) do |f|
        = f.input(:first_name)
        = f.input(:last_name)
        = f.input(:email)
        = f.input(:password)
        = f.input(:password_confirmation)
        .form-actions
          %button.btn.btn-primary{:type => 'submit'} Sign me up
          %span or
          = link_to('Login here', login_path)
          %br
          %br

  .col-md-3.rightsidebar
    = default_sidebar
